@import "../../../_variables";

.footer {

  background-image: url('../../../images/image2.jpg');
  width: 100%;
  margin-bottom: 0;

  position:relative;
  left:0;
  bottom:0;
  right:0;

  h3 {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 32px;
    text-align: center;
  }
}