$main-color: #FFFFCC;
$panel-color:#000080;
$color-text:#FFFFFF;
$color-home: #777777;
$color-description:#000000;
$color-button:#FFE4B5;
$color-shadow:#063c03;
$color-active:#8B0000;
$color-picture:#FF4500;
$color-background:#FAF0E6;
$color-textarea:#7FFFD4;


$font-title:'Rampart One', cursive;
$font-description:'Merriweather', serif;
$font-navbar:'Open Sans', sans-serif;
$font-links: 'Anton', sans-serif;